*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin: 20px;
}

main{
    width: 450px;
    height: 600px;
    margin: 10px auto;
    background-color: black;
}

.pai1{
    display: flex;
    flex-wrap: wrap; 
}
.pai2{
    display: flex;
    justify-content: space-between;
}

.pai3{
    display: flex;
    justify-content: flex-start;
}

.pai4{
    display: flex;
    justify-content: flex-end;
}


.box{
    width: 150px;
    height: 150px;
    background-color:red;
    border: 2px solid #fff;
}





