*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin: 20px;
}

main{
    width: 960px;
    height: 600px;
    margin: 10px auto;
    background-color: black;
    display: flex;
    flex-wrap: wrap; 
}

.header,
.footer{
    width: 960px;
    height: 150px;
}

.header > .box,
.footer > .box {
    width: 960px;
    height: 150px;
    background-color:blue;
    border: 2px solid #fff;
}

.content{
    display: flex;
    flex-wrap: nowrap;
}

.content > .box:nth-child(1){
    width: 310px;
    height: 300px;
    background-color:red;
    border: 2px solid #fff;
}

.content > .box:nth-child(2){
    width: 650px;
    height: 300px;
    background-color: aquamarine;
    border: 2px solid #fff;
}


