*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin: 20px;
}

main{
    width: 960px;
    height: 600px;
    margin: 10px auto;
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.box{
    width: 150px;
    height: 150px;
    background-color:red;
    border: 2px solid #fff;
}

.box:nth-child(2){
    align-self: flex-end;
}